// ==========  Boxes  ==========

// Box sizing
@mixin box-sizing ($ValueBSz)
	-webkit-box-sizing: $ValueBSz
	-moz-box-sizing: $ValueBSz
	box-sizing: $ValueBSz
// Box shadow
@mixin box-shadow ($ValueSD)
	-webkit-box-shadow: $ValueSD
	-moz-box-shadow: $ValueSD
	box-shadow: $ValueSD


// ==========  Gradients  ==========

// Linear gradient
@mixin linear-gradient ($ColorStart, $ColorFinish)
	background-repeat: repeat-x
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="'$ColorStart'", endColorstr="$ColorFinish")
	background-image: -khtml-gradient(linear, left top, left bottom, from($ColorStart), to($ColorFinish))
	background-image: -moz-linear-gradient(top, $ColorStart, $ColorFinish)
	background-image: -ms-linear-gradient(top, $ColorStart, $ColorFinish)
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $ColorStart), color-stop(100%, $ColorFinish))
	background-image: -webkit-linear-gradient(top, $ColorStart, $ColorFinish)
	background-image: -o-linear-gradient(top, $ColorStart, $ColorFinish)
	background-image: linear-gradient($ColorStart, $ColorFinish)



// ==========  Borders  ==========

// Border Radius
@mixin border-radius ($ValueBdRadius)
	-webkit-border-radius: $ValueBdRadius
	-moz-border-radius: $ValueBdRadius
	-ms-border-radius: $ValueBdRadius
	-o-border-radius: $ValueBdRadius
	border-radius: $ValueBdRadius


// Appearance
@mixin appearance ($ValueAP)
	-webkit-appearance: $ValueAP
	-moz-appearance: $ValueAP
	appearance: $ValueAP


// ==========  Fonts  ==========

// Font familys
$arial: Arial, sans-serif
$georgia: Georgia, Cambria, "Times New Roman", Times, serif
$helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif
$lucida-grande: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif
$monospace: "Bitstream Vera Sans Mono", Consolas, Courier, monospace
$verdana: Verdana, Geneva, sans-serif

// Font complete
@mixin font-c ($Ffamily, $Fsize, $Fstyle, $Fweight, $Fcolor)
	font:
		family: $Ffamily
		size: $Fsize
		style: $Fstyle
		weight: $Fweight
	color: $Fcolor
	
// Font basic
@mixin font-b ($Fsize, $Fweight, $Fcolor)
	font: 
		size: $Fsize
		weight: $Fweight
	color: $Fcolor
