// Linear gradient

@mixin linear-gradient ($ColorStart, $ColorFinish)
	background-image: -webkit-linear-gradient(bottom, $ColorStart, $ColorFinish)
	background-image: -moz-linear-gradient(bottom, $ColorStart, $ColorFinish)
	background-image: -o-linear-gradient(bottom, $ColorStart, $ColorFinish)
	background-image: -ms-linear-gradient(bottom, $ColorStart, $ColorFinish)
	background-image: linear-gradient(to top, $ColorStart, $ColorFinish)
